.about-page {
  font-size: clamp(0.75rem, 1.8vw, 1.4rem);
  line-height: 1.6;
  pre {
    white-space: pre-line;
  }
}

.element {
  color: #569cd6;
}

.line-number {
  color: #75715e;
  user-select: none;
}
