@import "../styles/global";

.articles-page {
  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    padding: 1.5rem;
    background-color: $primary-color;
    color: $text-color;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondary-color;

      .article-card__title {
        color: $text-color;
      }
    }
  }
}

.article-card {
  &__title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: $highlight-color;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__published {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #bdbdbd;
  }

  &__meta {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    color: #bdbdbd;
  }
}
