@import "../styles/global";

.articles-page {
  &__title {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;

    @media (min-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    @media (min-width: 1200px) {
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    padding: 1rem;
    background-color: $primary-color;
    color: $text-color;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondary-color;

      .article-card__title {
        color: $text-color;
      }
    }

    @media (min-width: 1200px) {
      padding: 1.5rem;
    }

    &--dev {
      color: $text-color;
      background-image: linear-gradient(
        120deg,
        $highlight-color 100%,
        $highlight-color 100%
      );
      background-repeat: no-repeat;

      background-size: 100% 0.2em;
      background-position: 0 88%;
      text-decoration: none;
      transition: background-size 0.3s ease;

      &:hover {
        background-size: 100% 1.4em;
      }
    }
  }
}

.article-card {
  &__title {
    margin-bottom: 0.5rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: $highlight-color;
  }

  &__description {
    margin-bottom: 0.5rem;
    @media (min-width: 1200px) {
      margin-bottom: 1rem;
    }
  }

  &__published {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #bdbdbd;
  }

  &__meta {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    color: #bdbdbd;
  }
}
