.contact-page {
  font-size: clamp(0.75rem, 1.8vw, 1.4rem);
  line-height: 1.6;

  pre {
    white-space: pre-line;
  }
}

.line-number {
  color: #75715e;
  user-select: none;
}

.selector {
  color: #569cd6;
}

.property {
  color: #dcdcaa;
}

.value {
  color: #ce9178;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
