@import "../styles/global";

.explorer-section {
  padding: 1rem 2rem;
  border-right: 1px solid $border-color;
}

.explorer {
  margin: 1rem 0 0;
  &__item {
    margin: 0 0 0.5rem;
  }
  &__link {
    display: flex;
    gap: 0.5rem;
    color: $text-color;
    text-decoration: none;
  }
}
