@import "../styles/global";

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  padding: 0.5rem 1rem;
  border-top: 1px solid $border-color;

  &-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      svg {
        fill: $icon-color;
        width: 18px;
        height: auto;
      }
    }
  }
}
