* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #24292e;
  --secondary-color: #1f2428;
  --text-color: #e1e4e8;
  --text-color-dark: #eee;
  --icon-color: #95999d;
  --highlight-color: #f97583;
  --highlight-color-secondary: #b392f0;
  --border-color: #1b1f23;
}

body {
  margin: 0;
  background: var(--primary-color);
  -webkit-font-smoothing: antialiased;
}
