@import "../styles/global";

.home-page {
  font-size: 1.4rem;
  color: #f8f8f2;
  border-radius: 8px;

  pre {
    margin: 0;
    line-height: 1.6;
  }
}

.line-number {
  display: inline-block;
  width: 2rem;
  color: #75715e;
  user-select: none;
}

.keyword {
  color: #66d9ef;
}

.variable {
  color: #a6e22e;
}

.string {
  color: #e6db74;
}

.array {
  color: #ae81ff;
}

.function {
  color: #f92672;
}

.element {
  color: #f8f8f2;
}
