@import "../styles/global";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  background-color: $secondary-color;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__item {
    &.-contact,
    &.-articles,
    &.-home,
    &.-user {
      svg {
        fill: none;
        stroke: $icon-color;
      }
      .-active {
        svg {
          body[data-theme="dark"] & {
            fill: none;
            stroke: $text-color;
          }
        }
      }
    }
    svg {
      fill: $icon-color;
      width: 34px;
      height: auto;
    }
  }

  &__link {
    display: block;
    padding: 0.5rem 1rem;

    &.-active {
      border-left: 1px solid $highlight-color;

      svg {
        body[data-theme="dark"] & {
          fill: $text-color;
        }
      }
    }

    &:hover {
      background-color: $border-color;
    }
  }
}
